<html xmlns:th="http://www.thymeleaf.org">
<body>
<script th:inline="javascript">
/*<![CDATA[*/

function deleteFile(objectKey, guid) {
	if(
		confirm("Do you really want to delete the file :\n" + objectKey)
		) {
			document.getElementById("objectKey").value = objectKey;
			document.getElementById("guid").value = guid;
			document.getElementById("deleteForm").submit();
	}
}

/* ]]> */
</script>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>Bucket:</td><td><input type="text" name="bucket"></td></tr>
				<tr><td>ObjectKey:</td><td><input type="text" name="objectKey"></td></tr>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<span>Files on FileSystem(NFS/EFS)</span>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
		<span>Objects on S3</span>
		<ul>
			<li th:each="file : ${bucketFiles}">
				<a th:href="${file}"  th:text="${file.key + ' - ' + file.size }" />
			</li>
		</ul>
		<span>Records on DynamoDB</span>
		<ul>
			<li th:each="file : ${DynamoDBFiles}">
				<span th:text="${file.guid + ' - ' + file.objectKey + ' - ' + file.size}" /> <a th:href="${ 'javascript:deleteFile(''' + file.objectKey + ''',''' + file.guid + ''')' }" >delete</a>
				<a th:href="${ '/download?guid=' + file.guid }" >download</a>
			</li>
		</ul>
	</div>
	<div>
		<form id="deleteForm" method="POST" action="/delete">
			<input type="hidden" id="bucket" name="bucket" th:value="${param.bucket}">
			<input type="hidden" id="objectKey" name="objectKey">
			<input type="hidden" id="guid" name="guid">
		</form>
	</div>

</body>
</html>
